/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --page-bg-image: url("../images/cover-image-dark.png");
  --color-bg-page: #000028;
  --color-menu: #ff0070;
  --color-rec: #ff0070;
  --color-dec-zone: #ff0070;
  --color-focus: #db00ff;
  --color-rgba: 255, 0, 112;
  --color-bg-title: #ff0070;
  --color-title-decor: #000028;
  --color-title: #ff0070;
  --color-description: #f1b2ce;
}

.theme-dark {
  .rec {
    display:block;
  }

  .rec::before {
    display: block;
  }
}
