/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: 'IBM Plex mono', Arial, sans-serif;
  background-image: var(--page-bg-image);
  background-position: center;
  background-attachment: fixed;
  background-color: #000028;/* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  width:100%;
  min-height: 668px;
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto auto;
  padding: 10px;
  gap: 55px;
}

.rec {
  position: absolute;
  justify-self: end;
  margin-block-start: 10px;
margin-inline-end: 38px;
color: var(--color-neon);
text-transform: uppercase;
font-size: 18px;
line-height: 25px;
}

.rec::before {
  position: absolute;
   content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: var(--color-neon);
  border-radius: 50%;
 top:9px;
 margin-left: 100%;
 left: 9px;
 box-shadow:0 0 4px 2px rgb(var(--color-neon-rgba));
}

.decorated-zone::before{
  content: "";
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--color-neon);
  border-right: 1px solid var(--color-neon);
  position: absolute;
   justify-self: end;
   top: 10px;
   right: 10px;

}

.decorated-zone::after{
  content: "";
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--color-neon);
  border-bottom: 1px solid var(--color-neon);
  position: absolute;
   bottom: 10px;
   left: 10px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
justify-self: end;
align-self:start;
margin-block-start: 65px;
gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  width: 100%;
  border:1px solid transparent;
  color:var(--color-neon);
  font-size: 18px;
  line-height: 18px;
  text-transform: lowercase;
  min-width:70px;
  min-height: 26px;
  outline: none;
}


.header__theme-menu-button:hover {
  border-color: rgba(var(--color-neon-rgba), 0.4);
  
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--color-neon);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--color-neon);
}

.header__theme-menu-button_active {
border-color: var(--color-neon) !important;
}

.title{
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
line-height: 83%;
color: var(--color-pink);
text-shadow: 4px 4px 0 var(--color-neon);
font-weight: 700;
}

.title__description{
  margin-bottom: 56px;
}

.title-decor {
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 700;
  background-color: var(--color-neon);
  color: var(--color-title-decor);
}
