/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: 'IBM Plex mono', Arial, sans-serif;
  background-image: var(--page-bg-image);
  background-position:center;
  background-size: auto 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--color-bg-page);/* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  width:100%;
  height: 100vh;
  min-height: 668px;
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto auto;
  padding: 10px;
  gap: 55px;
}

.rec {
  position: absolute;
  justify-self: end;
  margin-block-start: 10px;
margin-inline-end: 38px;
color: var(--color-rec);
text-transform: uppercase;
font-size: 18px;
line-height: 25px;
}

.rec::before {
  position: absolute;
   content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: var(--color-rec);
  border-radius: 50%;
 top:9px;
 margin-left: 100%;
 left: 9px;
 box-shadow:0 0 4px 2px rgb(var(--color-rgba));
}

.decorated-zone::before{
  content: "";
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--color-dec-zone);
  border-right: 1px solid var(--color-dec-zone);
  position: absolute;
   justify-self: end;
   top: 10px;
   right: 10px;

}

.decorated-zone::after{
  content: "";
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--color-dec-zone);
  border-bottom: 1px solid var(--color-dec-zone);
  position: absolute;
   bottom: 10px;
   left: 10px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
justify-self: end;
align-self:start;
margin-block-start: 65px;
gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  width: 100%;
  border:1px solid transparent;
  color:var(--color-menu);
  font-size: 18px;
  line-height: 18px;
  text-transform: lowercase;
  min-width:70px;
  min-height: 26px;
  outline: none;
}


.header__theme-menu-button:hover {
  border-color: rgba(var(--color-rgba), 0.4);
  
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--color-menu);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--color-menu);
}

.header__theme-menu-button_active {
border-color: var(--color-menu) !important;
}

.title{
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
line-height: 83%;
color: var(--color-focus);
text-shadow: 4px 4px 0 var(--color-bg-title);
font-weight: 700;
}

.title__description{
  margin-bottom: 56px;
}

.title-decor {
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 700;
  background-color: var(--color-bg-title);
  color: var(--color-title-decor);
}

.content {
  padding: 0px 10px 0px;
  display: grid;
  gap: 50px;
}

.start__title {
  margin-top: 40px;
}

.section__title{
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--color-title);
  
}

.concentration__title {
margin-bottom: 20px;
}

.link {
  text-shadow: 1px 1px 0 var(--color-bg-title);
  text-decoration: none;
  display: inline-block;
  position: relative;
  outline: none;
}

.link:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 2px solid var(--color-description);
}

.link:focus-visible::after {
  content: "";
  position: absolute;
  left: -4px;
  bottom: 0;
  width: calc(100% + 8px);
  height: 100%;
  border: 1px solid var(--color-description);
}

.card {
  display: grid;
  gap: 10px;
  margin-top: 20px;
}

.card__step {
  font-weight: 400;
}

.card__description {
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 400;
  color: var(--color-description);
}

.section__gallery {
  margin-top: -2px;
}

.images {
  grid-template-columns: 1fr;
  max-width: 355px;
  display: grid;
  gap: 10px;
}

img {
  width: 100%;
  height: auto;
}

.footer {
  display: grid;
  position: relative;
  margin-top: 40px;
  height: 100vh;
  min-height: 668px;
  padding: 0px 10px 0px;
  align-items: center;
  justify-items: center;
}

.title__footer{
 font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
line-height: 83%;
color: var(--color-focus);
font-weight: 700;
margin-bottom: -4px;
margin-left: 2px;
}

@media (width>=768px){
.header {
  grid-template-columns:1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.header__theme-menu {
  grid-column: 2;
}

.title{
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
grid-column: span 2;
}

.title__description{
  margin-bottom: 0px;
  grid-column: 2;
  align-self: start;
}

.section__focus {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
}

.section__focus .card {
  grid-column: span 2;
}

.start__title {
  grid-column: 1;
  grid-row: span 2;
  margin-top: 20px;
}

.section__gallery {
  margin-top: -2px;
}

.images {
 grid-template-columns: repeat(3, 1fr);
 grid-template-rows: repeat(3, 1fr);
  max-width: 100%;
}

img {
  width: 100%;
  height: auto;
}

img:first-child {
  grid-column: span 2;
  
}

img:nth-child(2) {
  grid-row: span 2;

}

@media (width>=1024px){
  
}
