/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: "IBM Plex mono", Arial, sans-serif;
  background-color: var(--color-bg-page);
  background-image: var(--page-bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100vh;
  background-attachment: fixed; /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto auto;
  gap: 55px;
  width: 100%;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
}

.rec {
  position: absolute;
  justify-self: end;
  margin-inline-end: 38px;
  margin-block-start: 10px;
  color: var(--color-rec);
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}

.rec::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 9px;
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 100%;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px rgb(var(--color-rgba));
  background-color: var(--color-rec);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  justify-self: end;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--color-dec-zone);
  border-right: 1px solid var(--color-dec-zone);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--color-dec-zone);
  border-left: 1px solid var(--color-dec-zone);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  justify-self: end;
  gap: 10px;
  align-self: start;
  margin-block-start: 65px;
}

.header__theme-menu-button {
  width: 100%;
  min-width: 70px;
  min-height: 26px;
  border: 1px solid transparent;
  outline: none;
  color: var(--color-menu);
  font-size: 18px;
  line-height: 18px;
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button:hover {
  border-color: rgba(var(--color-rgba), 0.4);
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--color-menu);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--color-menu);
}

.header__theme-menu-button_active {
  border-color: var(--color-menu) !important;
  pointer-events: none;
}

.title {
  color: var(--color-focus);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--color-bg-title);
}

.title__description {
  margin-bottom: 56px;
}

.title-decor {
  color: var(--color-title-decor);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--color-bg-title);
}

.content {
  display: grid;
  gap: 50px;
  padding: 0px 10px 0px;
}

.start__title {
  margin-top: 40px;
}

.section__title {
  color: var(--color-title);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.concentration__title {
  margin-bottom: 20px;
}

.link {
  position: relative;
  display: inline-block;
  outline: none;
  text-decoration: none;
  text-shadow: 1px 1px 0 var(--color-bg-title);
}

.link:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid var(--color-description);
}

.link:focus-visible::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -4px;
  width: calc(100% + 8px);
  height: 100%;
  border: 1px solid var(--color-description);
}

.card {
  display: grid;
  gap: 10px;
  margin-top: 20px;
}

.card__step {
  font-weight: 400;
}

.card__description {
  color: var(--color-description);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}

.section__gallery {
  margin-top: -2px;
}

.images__title {
  margin-bottom: 10px;
}

.images {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  max-width: 355px;
}

img {
  width: 100%;
  height: auto;
}

.footer {
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100vh;
  min-height: 668px;
  margin-top: 40px;
  padding: 0px 10px 0px;
}

.title__footer {
  margin-bottom: -4px;
  margin-left: 2px;
  color: var(--color-focus);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
}

@media (width>=768px) {
  .header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px;
    min-height: 1024px;
    padding: 20px;
  }

  .header__theme-menu {
    grid-column: 2;
  }

  .header__theme-menu-list {
    margin-block-start: 170px;
  }

  .rec {
    margin-inline-end: 48px;
    margin-block-start: 20px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .title {
    grid-column: span 2;
    margin-top: 120px;
    margin-left: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .title__description {
    grid-column: 2;
    align-self: start;
    margin-top: 48px;
    margin-bottom: 0px;
  }

  .content {
    display: grid;
    gap: 80px;
    padding: 0px 20px 0px;
  }

  .section__focus {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    margin-top: 40px;
  }

  .section__focus .card__description {
    padding-right: 10px;
    padding-left: 4px;
  }

  .section__focus .card {
    grid-column: span 2;
  }

  .start__title {
    grid-column: 1;
    grid-row: span 2;
    max-width: 236px;
    margin-top: 20px;
  }

  .attention__title {
    max-width: 236px;
  }

  .section__concentration {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
  }

  .section__concentration .card__description {
    padding-right: 10px;
    padding-left: 4px;
  }

  .concentration__title {
    grid-column: 1;
    grid-row: span 6;
    max-width: 236px;
  }

  .recommendations__title {
    grid-column: span 2;
  }

  .section__concentration .card {
    grid-column: span 2;
  }

  .images__title {
    margin-bottom: 20px;
  }

  .images {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: dense;
    gap: 20px;
    max-width: 100vw;
  }

  .images img:first-child {
    grid-column: span 2;
    grid-row: 1;
  }

  .images img:nth-child(2) {
    grid-column: 3;
    grid-row: span 2;
    height: 100%;
    object-fit: cover;
  }

  .images img:nth-child(3) {
    grid-column: 1;
    grid-row: span 2;
    height: 100%;
    object-fit: cover;
  }

  .images img:nth-child(4) {
    grid-column: 2;
  }

  .images img:nth-child(5) {
    grid-column: span 2;
  }

  .footer {
    min-height: 1024px;
    margin-top: 60px;
    padding: 20px 20px 20px;
  }

  .title__footer {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width>=1024px) {
  .header {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px;
    min-height: 768px;
    padding: 20px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    justify-self: center;
    gap: 10px;
    margin-block-start: 0px;
  }

  .header__theme-menu {
    grid-column: 2;
  }

  .rec {
    margin-inline-end: 48px;
    margin-block-start: 20px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .title {
    grid-column: span 3;
    margin-top: 58px;
    margin-left: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .title__description {
    grid-column: 2/4;
    justify-self: end;
    align-self: start;
    max-width: 491px;
    margin-top: 57px;
    margin-bottom: 0px;
  }

  .content {
    display: grid;
    gap: 80px;
    padding: 0px 20px 0px;
  }

  .section__focus {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    margin-top: 40px;
  }

  .section__focus .card {
    grid-column: span 2;
  }

  .start__title {
    grid-column: 1;
    grid-row: span 2;
    max-width: 100%;
    margin-top: 20px;
  }

  .section__focus .card__description {
    padding-right: 0px;
    padding-left: 0px;
  }

  .section__attention {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
  }

  .attention__title {
    max-width: 100%;
  }

  .section__attention .card {
    grid-column: auto;
    grid-row: 2;
    align-self: self-start;
  }

  .section__concentration {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
  }

  .section__concentration .card__description {
    padding-right: 0px;
    padding-left: 0px;
  }

  .concentration__title {
    grid-column: 1;
    grid-row: span 6;
    max-width: 100%;
  }

  .section__concentration .card {
    grid-column: span 2;
  }

  .images__title {
    margin-bottom: 20px;
  }

  .images {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: dense;
    gap: 20px;
    max-width: 100vw;
  }

  .images img:first-child {
    grid-column: span 2;
    grid-row: 1;
  }

  .images img:nth-child(2) {
    grid-column: 3;
    grid-row: span 2;
    height: 100%;
    object-fit: cover;
  }

  .images img:nth-child(3) {
    grid-column: 1;
    grid-row: span 2;
    height: 100%;
    object-fit: cover;
  }

  .images img:nth-child(4) {
    grid-column: 2;
  }

  .images img:nth-child(5) {
    grid-column: span 2;
  }

  .footer {
    min-height: 768px;
    margin-top: 60px;
    padding: 20px 20px 20px;
  }

  .title__footer {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
